<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= subject %></title>
</head>
<body>
    <div style="border: 2px solid #ccc;">
        <div style="background-color: #555; color: #fff; padding: 10px 15px; text-align: center;">
            WORKFLOWSIM
        </div>
        <div>
            <div>
                Dear User
            </div>
            <h4><%= subject %></h4>
            <p>
                Welcome to Imonetize 
                <!-- To accept this invitation please click on below invitation button  <br />
                <a 
                    href="<%= websiteURL %>accept-invitation/?key=<%= token %>"
                    target="_blank"
                    style="display: inline-block; padding: 5px 25px; background-color: #555; color: #fff;"
                >Accept Invitation</a> <br /> <br />
                or copy and go to below URL. <br />
                <%= websiteURL %>/accept-invitation/?key=<%= token %> -->
            </p>
            <div>
                Thanks & Regards <br />
                Imonetize Team.
            </div>
        </div>
    </div>
</body>
</html>